<h2 mat-dialog-title>Edición {{tienda.c_codigo}}</h2>
<br>
<div class="body">
  <form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
    <div mat-dialog-content class="contenedor">
  
      <mat-form-field>
        <input matInput placeholder="Código" name="c_codigo" #c_codigo="ngModel" [(ngModel)]="tienda.c_codigo"
          minlength="3" required />
        <mat-hint class="error" *ngIf="tienda.c_codigo.length<3">debe tener mínimo de 3 dígitos</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Direccion" name="c_direccion" #c_direccion="ngModel" [(ngModel)]="tienda.c_direccion"
          minlength="3" required />
        <mat-hint class="error" *ngIf="tienda.c_direccion.length<3">debe tener mínimo de 3 dígitos</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nombre responsable" name="c_nombre_responsable" #c_nombre_responsable="ngModel" [(ngModel)]="tienda.c_nombre_responsable"
          minlength="3" required />
        <mat-hint class="error" *ngIf="tienda.c_nombre_responsable.length<3">debe tener mínimo de 3 dígitos</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input autocomplete="off" matInput placeholder="Codigo de Cliente" name="cod_cliente" #cod_cliente="ngModel" [(ngModel)]="tienda.cod_cliente" (keydown)="clienteXCodigo()" [matAutocomplete]="auto"
          minlength="3" required />
        <mat-hint class="error" *ngIf="this.tienda.cod_cliente .length<3">debe tener mínimo de 3 dígitos</mat-hint>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let cli of listaClientesXCodigo" [value]="cli.c_codigo" (click)="obtenerClenteXCodigo(cli)">
            {{cli.c_codigo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button button mat-stroked-button color="primary" type="submit"
        [disabled]="!newForm.form.valid || this.tienda.n_idgen_cliente==0" >
        <mat-icon>save</mat-icon>
        <span>Guardar</span>
      </button>
    </div>
  </form>
</div>