<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar class="mat-elevation-z4 barra" color="primary"><label
                class="titulo">
                <p>Clean Service</p>
            </label>
        </mat-toolbar>
        <!--último iditem = 29 -->
        <mat-nav-list>
            <mat-accordion>
                <mat-expansion-panel [expanded]="idPanel == 1" >
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>supervisor_account</mat-icon>
                            Seguridad
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/usuario']" *ngIf="se_adusu" (click)="panel(1,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Usuario</span>
                    </a>

                    <a mat-list-item [routerLink]="['/rol']" *ngIf="se_adrol" (click)="panel(1,2)" [ngClass]="{'select':iditem == 2}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Roles</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 2" ><!--PRODUCTO-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>shopping_cart</mat-icon>
                            Producto
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/producto']" *ngIf="se_adusu" (click)="panel(2,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de productos</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 3" ><!--CLIENTE-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>perm_identity</mat-icon>
                            Cliente
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/cliente']" *ngIf="se_adusu" (click)="panel(3,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de clientes</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 4" ><!--TIENDA-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>store</mat-icon>
                            Tienda
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/tienda']" *ngIf="se_adusu" (click)="panel(4,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de tiendas</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 5" ><!--PERIODO-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>calendar_today</mat-icon>
                            Periódo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/periodo']" *ngIf="se_adusu" (click)="panel(5,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de periódos</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 6" ><!--ORDEN-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Orden
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/orden']" *ngIf="se_adusu" (click)="panel(6,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de ordenes</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 7" ><!--EQUIPO-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Equipo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/equipo']" *ngIf="se_adusu" (click)="panel(7,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de ordenes</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 8" ><!--METODOLOGIA-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Metodología
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/metodologia']" *ngIf="se_adusu" (click)="panel(8,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de ordenes</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 9" ><!--RECOMENDACION-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Recomendación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/recomendacion']" *ngIf="se_adusu" (click)="panel(9,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de ordenes</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 10" ><!--OBSERVACION-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Observación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/observacion']" *ngIf="se_adusu" (click)="panel(10,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de observaciones</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 11" ><!--INFESTACION-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Infestación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/infestacion']" *ngIf="se_adusu" (click)="panel(11,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de infestaciones</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 12" ><!--PERSONAL-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Personal
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/personal']" *ngIf="se_adusu" (click)="panel(12,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de personales</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 13" ><!--ESPECIE-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon><img src="assets/icons/1905225.png" width="25"></mat-icon>
                            Especie
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/especie']" *ngIf="se_adusu" (click)="panel(13,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de especies</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 14" ><!--DOSIFICACION-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Dosificación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/dosificacion']" *ngIf="se_adusu" (click)="panel(14,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de dosificaciones</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 15" ><!--INCIDENTE-->
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>record_voice_over</mat-icon>
                            Incidente
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/incidente']" *ngIf="se_adusu" (click)="panel(15,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de incidentes</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
        <div class="logo">
            <img [src]="urlImagen" alt="Logo" style="max-width: 100%; height: auto;">
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4 barra" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <div>

                <label style="font-size: 14px;">
                    {{date | date: "dd/MM/yyyy"}}
                    {{date | date: "HH:mm:ss"}}
                </label>
            </div>
            <span class="example-fill-remaining-space"></span>
            
            <button mat-button [matMenuTriggerFor]="usuario">
                <mat-icon >person</mat-icon>
                <label class="titulo">
                    <span>{{username}}-{{rol}}</span>
                </label>
            </button>         
            <mat-menu #usuario="matMenu">
                <button mat-menu-item (click)="descargarManual()">Guía</button>
                <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button>
                <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
            </mat-menu>
            <!-- <p>
                <button mat-button [matMenuTriggerFor]="notificacion" >
                    <mat-icon [matBadge]="notif" matBadgeColor="warn">notifications</mat-icon>
                </button> 
            </p>
            <mat-menu #notificacion="matMenu" >
                <div *ngFor="let item of Arr">         
                    <button mat-menu-item  (click)="showNotificacion(item)">   
                        <span class="checkView" *ngIf="!item.b_estado">•</span>
                        <span class="checkView2" *ngIf="item.b_estado"></span>
                        <mat-icon>dialpad</mat-icon>                     
                        {{item.c_detalle}}
                    </button>
                </div>                
            </mat-menu> -->
        </mat-toolbar>
        <!--Aquí va el contenido de los formularios-->
        <ng-content>
            
        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>